.RatingModal__body {
  display: grid;
  grid-gap: 1em;
}

.RatingModal__header {
  margin-bottom: 1em;
  text-align: center;
}

.RatingModal__footer {
  margin-top: 16px;
  float: right;
}

.RatingModal__container {
  padding: 1em 1em 0em;
}

.RatingModal__module-code {
  color: #fc4838;
}

.RatingModal {
  background-color: white;
}
