body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f4f6f8;
}

main {
  height: calc(100% - 50px);
  overflow: scroll;

  /* Mimic the horizontal paddings from the Blueprint navbar */
  padding: 15px;
}

/* NATIVE BROWSER OVERRIDES */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0px;
}

/* BLUEPRINT OVERRIDES */

.bp3-navbar {
  background-color: #2873e6;
  box-shadow: none;
}

.bp3-card {
  padding: 32px;
}

.bp3-progress-bar.bp3-intent-primary .bp3-progress-meter {
  background-color: #2873e6;
  box-shadow: none;
}

.bp3-button.bp3-intent-primary {
  background-color: #fc4838;
  box-shadow: none;
}

.bp3-button.bp3-intent-primary.bp3-disabled {
  background-color: #fc4838;
  opacity: 0.5;
}

.bp3-button.bp3-intent-primary:hover {
  background-color: #fc4838;
}

.bp3-tag.bp3-minimal.bp3-intent-primary {
  color: #2873e6;
}
.bp3-button.bp3-minimal,
*:not(.bp3-navbar) .bp3-button.bp3-minimal.bp3-active,
*:not(.bp3-navbar) .bp3-button.bp3-minimal:hover {
  color: #2873e6;
}

a,
a:hover {
  color: #2873e6;
}

.bp3-button.bp3-minimal.bp3-active {
  background-color: rgba(146, 171, 222, 0.1);
}
.bp3-button.bp3-minimal:hover {
  background-color: rgba(146, 171, 222, 0.25);
}
