.DiscussionSection__left-header {
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: slategray;
}

.DiscussionSection__card-footer {
  display: flex;
  justify-content: space-between;
}
