.RadioButtonGroup__container-desktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.RadioButtonGroup__right-segment-desktop {
  min-width: 20em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5em 1fr 1fr 1fr 1fr 1fr 5em;
}

.RadioButtonGroup__radio-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.RadioButtonGroup__right-segment-mobile {
  min-width: 20em;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0em 1em;
  margin-top: 1em;
}

@media only screen and (max-width: 740px) {
  .RadioButtonGroup__right-segment-desktop {
    min-width: 20em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0em 1em;
    margin-top: 1em;
  }
}
