element {
  --main-bg-color: #e5e5e5;
}

.white-background {
  background-color: #fff;
}

.ui.progress {
  background-color: #d1dff2 !important;
}

.ui.progress .bar {
  background-color: #2268e2 !important;
}
