.HomePage__searchbar-container > * {
  width: 560px;
}

.HomePage__logo-container {
  width: 100%;
  padding: 64px;
}

.HomePage__logo {
  width: 100%;
}

@media only screen and (max-width: 590px) {
  .HomePage__searchbar-container > * {
    width: 100%;
    margin-top: 16px;
  }

  .HomePage__logo-container {
    width: 100%;
    padding: 32px;
  }
}
