.Section__header-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  margin-bottom: 32px;
}

.Section__left-header-container {
  text-align: left;
}

.Section__right-header-container {
  text-align: right;
}
