.ReviewPage__container {
  display: flex;
  justify-content: center;
}

.ReviewPage__questions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ReviewPage__button {
  margin-top: 16px;
  float: right;
}
