.AuthCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.AuthCardContainer > * {
  width: 480px;
  padding: 16px;
}

.AuthCardContainer > *:not(:last-child) {
  margin-bottom: 16px;
}

@media only screen and (max-width: 512px) {
  .AuthCardContainer > * {
    width: 320px;
    padding: 16px;
  }
}
