.Section__header-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-bottom: 24px;
}

.Section__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Section__left-header-container {
  text-align: left;
}

.Section__right-header-container {
  text-align: right;
}
