.UpdateTipForm > *:not(:last-child),
.UpdateTipForm > .bp3-popover-wrapper:not(:last-child) > *:last-child {
  margin-bottom: 16px;
}

.UpdateTipForm__buttons-container {
  margin-top: 16px;
}

.UpdateTipForm__buttons-container > *:not(:last-child) {
  margin-right: 8px;
}
